<div class="center jumbotron">
  <div>
    <%= image_tag "logo.svg", alt: "logo" %>
    <h1>Welcome to HouHealth</h1>
  </div>
  <h2>
    Wondering how your favorite Houston restaurants fare in health inspections?
    Try searching below.
  </h2>
  <%= form_tag(search_path, action: :search, method: :post, id: "search-form",
      class: "col-md-5 col-md-offset-3") do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search],
          placeholder: "Search Restaurants", class: "form-control",
          required: true %>
      <div class="input-group-btn">
        <%= button_tag(type: :submit, class: "btn btn-default") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<section>
  <h3>Need a place to start? Here's <a href="http://www.houstonchronicle.com/entertainment/top-100-restaurants/">Alison Cook's Top Ten</a>:</h3>
  <ol>
      <li><a href="<%= get_path "Oxheart" %>">Oxheart</a> - <%= pluralize(get_violation_count("oxheart"), "violations") %></li>
      <li><a href="<%= get_path "The Pass" %>">The Pass</a> - <%= pluralize(get_violation_count("the pass"), "violations") %></li>
      <li>Killen's Barbecue - <%= pluralize(get_violation_count("killen's barbecue"), "violations") %></li>
      <li>Common Bond Cafe & Bakery - <%= pluralize(get_violation_count("common bond"), "violations") %></li>
      <li><a href="<%= get_path "Caracol" %>">Caracol</a> - <%= pluralize(get_violation_count("caracol"), "violations") %></li>
      <li><a href="<%= get_path "Indika" %>">Indika</a> - <%= pluralize(get_violation_count("indika"), "violations") %></li>
      <li><a href="<%= get_path "Underbelly" %>">Underbelly</a> - <%= pluralize(get_violation_count("underbelly"), "violations") %></li>
      <li><a href="<%= get_path "MF Sushi" %>">MF Sushi</a> - <%= pluralize(get_violation_count("mf sushi"), "violations") %></li>
      <li><a href="<%= get_path "Coltivare" %>">Coltivare</a> - <%= pluralize(get_violation_count("coltivare"), "violations") %></li>
      <li><a href="<%= get_path "Melange Creperie" %>">Melange Creperie</a> - <%= pluralize(get_violation_count("melange creperie"), "violations") %></li>
  </ol>
</section>
