<% if @violations.empty? %>
    <%= image_tag "no-results.svg", alt: "no results", class: "center-block" %>
    <h2 class="text-center">No results found.</h2>
<% else %>
    <h1><%= @violations.first.facility_name.titleize %></h2>
    <h2><%= @violations.first.address.titleize %></h2>
    <hr>
    <h3>Violations</h3>
    <dl class="dl-horizontal">
      <% @violations.each do |v| %>
        <dt><%= v.violation_code %></dt>
        <dd><%= v.violation_comment %></dd>
      <% end %>
    </dl>
<% end %>
