<h1><%= @restaurant.facility_name.titleize %></h2>
<h2><%= @restaurant.address.titleize %></h2>
<hr>
<dl class="dl-horizontal">
  <% @restaurant.violations.group_by(&:date).each do |date, violations| %>
    <div class="well">
      <h5><%= date.strftime("%B %e, %Y") %></h5>
      <% violations.each do |v| %>
        <dt><%= v.code %></dt>
        <dd><%= v.comment %></dd>
      <% end %>
    </div>
  <% end %>
</dl>
